<h2>Property Binding</h2>
<h5> To make disabled functionalty dynamic we are binding the property</h5>
<button  [disabled] = "!allowNewServer">Button </button>
<br><br>
<h2>Event Binding</h2>
<button  [disabled] = "!allowNewServer" (click)="onCreateServer()">Button </button>
<h5>{{serverstatus}}</h5>
<p *ngIf= "createServer; else noserver"> Server has been Created</p>
<ng-template #noserver>
  <p>No Server was created!</p>
</ng-template>
<br>
<p>Event binding lets you listen for and respond to user actions such as 
  keystrokes, mouse movements, clicks, and touches</p>

  <input type="text" (input)="onUpdateServer($event)">
<h5>{{serverstatus}}</h5>
